*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(https://github.com/ShakyaEmpire/Shakya_Design.github.io/blob/main/Images/Snowdrop.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 400px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:6px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav-links ul li ::after{
   content: '';
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto;
   transition: 0.5s ease;
   cursor: pointer;
}
.nav-links ul li :hover::after{
    width: 100%;
}

.textbox{
    width: 90%;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 66px;
}

.textbox p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: cornsilk;
}

.knowmore-btn{ /* knowmore button styling*/
    font-size: 25px;
    text-decoration: none;
    color: cornsilk;
    display: inline-block;
    border: 1px solid white;
    padding: 8px 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.knowmore-btn:hover{
    border: 1px solid rgb(110, 79, 21);
    background: rgb(110, 79, 21);
    transition: 0.5s;    
}
nav .fa{  /* for icon not showing on large screen*/
    display: none;
}

/* for showing on mobile */
@media(max-width: 700px){
    .textbox h1{
        font-size: 30px;
    }

    nav img{
        width: 250px;
    }
    .nav-links ul li{
        display: block;
    }

    .knowmore-btn{
        font-size: 15px;
    }
    .nav-links{
        position: fixed;
        background: rgb(110,79,21);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{ /* for showing icons on mobile screen*/
        display: block;
        margin: 10px;
        color: white;
        font-size: 21px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 25px;
    }
}


/*...........Services.........*/

.services{
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 80%;
}
.services h1{
    font-size: 50px;
}
 .services p{
     color: rgb(8, 2, 1);
     font-size: 20px;
     font-weight: 300;
     line-height: 22px;
     padding: 10px;
 }
 .services-col h1{
     font-size: 25px;
 }
 .services-col p{
     color: rgb(7, 49, 49);
     font-size: 20px;
 }
 .row{
     display: flex;
     margin-top: 20px;
     justify-content: space-between;

}
.services-col{
    flex-basis: 30%;
    background: #e6dada;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgb(112, 6, 6);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .services h1{
        font-size: 30px;
    }
}



/* ......Meet our team .......*/

.team{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.team h1{
    font-size: 50px;
}

.team p{
    color: rgb(8, 2, 1);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.team-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.team-col img{
    width: 100%;
    height: 100%;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(25, 226, 233, 0.5);;
}

.layer p{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translate(-50% );
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p{
    bottom: 49%;
    opacity: 1;

}

@media(max-width:700px){
    .team h1{
        font-size: 30px;
    }
}

/* ......Our Testimonial .......*/

.testimonial{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;

}
.testimonial p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.testimonial h3{
    text-align: right;
}
.testimonial h1{
    font-size: 50px;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5%;
    background: #e6dada;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

@media(max-width:700px){
    .testimonial h1{
        font-size: 30px;
    }
}

/*-----Contact us-------*/

.contact{
    text-align: center;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/Hand.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    margin-left: 50px;
    margin-right: 50px;
}
.contact h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
    font-size: 50px;
}
.contact-btn{
    font-size: 25px;
    text-decoration: none;
    color: cornsilk;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.contact-btn:hover{
    border: 1px solid rgb(110, 79, 21);
    background: rgb(110, 79, 21);
    transition: 0.5s; 
}

@media(max-width:700px){

    .contact h1{
        font-size: 25px;
    }
    .contact-btn{
        font-size: 15px;
    }
}


/*-------------Footer -------------------*/

.footer{
    text-align: center;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 50px;
}

.icons .fa{
    color: rgb(8, 17, 145);
    padding: 20px 0;
    margin: 0 13px;
    cursor: pointer;
    padding-bottom: 25px;
    font-size: 35px;
}

.fa-copyright{
    color: rgb(8, 17, 145);

}
@media(max-width:700px){
    .footer h4{
        font-size: 30px;
    }
}



/* -------About us html page styling----------*/

.sub-header1{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/Computer.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header1 h1{
    margin-top: 10%;
    font-size: 45px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
    height: 50vh;
}
.about-col h1{
    font-size: 50px;
}
.about-col p{
    font-size: 22px;
}

.explore-btn{
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    color: rgb(10, 8, 1);
    display: inline-block;
    border: 1px solid rgb(203, 203, 228);
    padding: 5px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 25px;
    margin-left: auto;
    transition: 0.5s;
}

.explore-btn:hover{
    color: white;
    background-color: rgb(110, 79, 21);
}
 .aboutline{
     padding-left: 20%;
     padding-right: 20%;
 }

 @media(max-width:700px){
     .sub-header1 h1{
         font-size: 30px;
         text-align: center;
         margin-top: 25%;
     }
 }



 /*-------Our services html page-------*/

 .sub-header2{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/services.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
 }

 .sub-header2 h1{
    margin-top: 135px;
    font-size: 42px;
 }

 @media(max-width:700px){
    .sub-header2 h1{
        font-size: 30px;
        text-align: center;
        margin-top: 25%;
    }
 }


 /* ---------Contact Us html page--------- */

 .sub-header3{
     height: 60vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/contact2.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: white;
 }

 .sub-header3 h1{
     margin: 10%;
     font-size: 45px;
 }

 .map{
     width: 80%;
     margin: auto;
     padding: 15px;
 }

 .map iframe{
     width: 100%;
 }

 .contact-us{
     width: 80%;
     margin: auto;
 }

 .contact-col1{
     flex-basis: 48%;
     margin-bottom: 10px;
 }

 .contact-col1 div{
     display: flex;
     align-items: center;
     margin-bottom: 40px;
 }

 .contact-col1 div .fa{
     font-size: 30px;
     color: teal;
     margin-right: 30px;
     margin: 10px;
 }

 .contact-col1 div p{
     padding: 0;
     font-weight: 200;
 }
 .contact-col1 div h4{

    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
 }
 .contact-col2 input , .contact-col2 textarea{
     width: 100%;
     padding:11px;
     margin-bottom: 8px;
    padding-left: 0;
     outline: none;
     border: 1px solid teal;
     box-sizing: border-box;
     
 }
    .sendquery{
        text-decoration: none;
        font-size: 18px;
        text-decoration: none;
        color: rgb(10, 8, 1);
        display: inline-block;
        border: 1px solid teal;
        padding: 5px;
        background: transparent;
        position: relative;
        cursor: pointer;
        margin-top:5px;
        margin-bottom: 10px;
        margin-left: auto;
        transition: 0.5s;
    }
    
    .sendquery:hover{
        color: white;
        background-color: rgb(110, 79, 21);
    }

    @media(max-width:700px){
        .sub-header3 h1{
            font-size: 30px;
            margin-top: 25%;
        }
    }

 
